
body {
    background-color: red;
}
.container { 
    width: 100%;
    height: auto;
    margin: 11rem;
    padding: 4rem;
    border-radius: 15px;
    background-color:bisque;
    box-shadow: 3px 3px bisque, -1em 0 .4em olive;
    text-align: center;
}
button { 
    width: 130px;
    font-weight: 500;
    margin: 1rem;
    margin-top: 1rem;
}
